.background {
    -fx-background-color: #1f1d1e;
}

.label {
    -fx-font-size: 11pt;
    -fx-font-family: "Calibri";
    -fx-text-fill: white;
    -fx-opacity: 1;
}

.table-view {
    -fx-base: #242424;
    -fx-control-inner-background: #5b5b5b;
    -fx-background-color: #5b5b5b;
    -fx-table-cell-border-color: transparent;
    -fx-table-header-border-color: transparent;
}

.scroll-pane {
    -fx-base: #242424;
}

.scroll-bar:horizontal, .scroll-bar:vertical {
    -fx-background-color:transparent;
}

.choice-box {
    -fx-base: #5b5b5b;
}

.choice-box .context-menu {
    -fx-background-color: #5b5b5b;
}

.button {
    -fx-base: #5b5b5b;
    -fx-text-fill: white;
}

.dialog-pane:header .header-panel {
    -fx-background-color: #141414;
}

.alert.information.dialog-pane,
.alert.error.dialog-pane,
.alert.warning.dialog-pane,
.alert.confirmation.dialog-pane {
    -fx-background-color: #242424;
    -fx-font-size: 11pt;
    -fx-font-family: "Calibri";
    -fx-text-fill: white;
}